.boxes {
    width: 100%;
    border-top: 1px solid rgba($white,0.16);
    margin-bottom: 20px;
    @include group();

    &__box {
        float: left;
        width: 50%;
        height: 176px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba($white,0.16);
        padding: 15px 18px 0;
        text-align: left;
        position: relative;

        &:nth-child(odd) {
            border-right: 1px solid rgba($white,0.16);
        }
    }

    &__link {
        z-index: 2;
        @include fill();

        &:active, &:hover {
            background: rgba($secondary,0.33);
        }
    }

    &__icon {
        width: 106px;
        height: 106px;
        margin: 0 auto;
        display: block;
        position: relative;

        .icon {
            width: 86px;
            height: 86px;
            padding: 10px;
        }
    }

    &__progress-value {
        stroke-linecap: round;
        fill: none;
        stroke: $secondary;
        stroke-width: 5;
        stroke-dasharray: 339.292;
        stroke-dashoffset: 339.292;
        transition: all 2s $bezier;
        transition-delay: 0.5s;
    }

    &__progress {
        transform: rotate(-90deg);
        transform-origin: 58.5px 58.5px;
        position: absolute;
        top: -5px;
        left: -6px;
    }

    h2 {
        margin-bottom: 10px;
    }
}

.register{
    display:none;

    &--active{
        display:block;
    }
}

.icons {
    display: table;
    width: 100%;
    margin-bottom:20px;

    &__item {
        display: table-cell;
        text-align:center;

        .b{
            opacity:0.37;
        }
    }

    &__caption {
        display:block;
        font-weight:bold;
    }
}

.user {
    &__image {
        width: 115px;
        height: 115px;
        border-radius: 50%;
        border:12px solid rgba($white,0.2);
        margin: 0 auto 10px;

        .icon {
            width: 115px;
            height: 115px;
        }

        .a {
            opacity: 1;
            fill: $white;
        }

        .b {
            fill: $tertiary;
        }
    }
}

.partner {
    position: absolute;
    top: 0;
    right: 20px;
    text-align:right;

    img {
        width: 50%;
    }
}

.overview {
    background:rgba(#1D2A3E,0.4);
    padding:15px 0;

    h2 {
        float: left;
        margin: 0;
    }

    &__content{
        width:100%;
    }

    &__item{
        padding:20px 0;
    }
}

.highlight {
    margin-bottom: 30px;

    &__item {
        padding: 30px 0 20px;
        background: rgba($black,0.19);
        text-align: left;
        position: relative;
        margin-bottom: 1px;

        &--active {
            background: -moz-linear-gradient(top, rgba(200,79,225,1) 0%, rgba(104,16,178,1) 100%);
            background: -webkit-linear-gradient(top, rgba(200,79,225,1) 0%,rgba(104,16,178,1) 100%);
            background: linear-gradient(to bottom, rgba(200,79,225,1) 0%,rgba(104,16,178,1) 100%);

            .highlight-expand {
                display: block;
            }
        }
    }

    &__left {
        float: left;
        width: 50%;
    }

    &__right {
        float: right;
        width: 50%;
        text-align: right;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        float: left;

        .a{
            fill:$white;
        }
    }

    &__title {
        font-size: $base + 2;
        margin: 0;
        position: relative;
        top: -2px;
    }

    &__subtitle {
        font-size: $base - 4;
        display: block;
        opacity: 0.6;
    }
}

.highlight-expand {
    position: relative;
    z-index: 1;
    top: 20px;
    display: none;

    &__item {
        position: relative;
        padding: 18px 0;
        background: linear-gradient(to bottom, rgba(30,45,66,1) 0%,rgba(14,33,48,1) 100%);

        &--active {
            background: linear-gradient(to bottom, rgba(77,38,118,1) 0%,rgba(64,25,103,1) 100%);
        }
    }

    &__link {
        z-index: 4;
        @include fill();
    }

    &__edit {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -7px;
        display: inline-block;
        width: 8px;
        height: 15px;
        opacity: 0.8;
        transform: rotateZ(180deg);

        .a {
            fill: $white;
        }
    }

    &__title {
        display: block;
        font-weight: bold;
    }

    &__detail {
        margin-right: 30px;
        display: inline-block;
        font-size: $base - 2;
    }

    &__value {
        font-size: $base - 4;
    }
}

.expandable {
    &__edit {
        display: inline-block;
        width: 8px;
        height: 15px;
        opacity: 0.8;
        transform: rotateZ(180deg);
    }
}

.file-list {
    margin-bottom: 20px;

    &__item {
        background: rgba($black,0.4);
        text-align: left;
        padding: 20px 20px 0;
        position: relative;
        margin-bottom:1px;
    }

    &__link {
        z-index: 4;
        @include fill();
    }

    &__icon {
        float: left;
        width: 50px;
        margin: 0 15px 20px 0;
    }

    &__title {
        display: block;
        font-weight: bold;
        font-size: $base - 4;
        opacity: 0.6;
    }

    &__subtitle {
        display: block;
        margin-bottom: 20px;
        font-size: $base - 4;
    }

    label{
        padding:0 20px;
    }
}

.upload {
    &__stage {
        position: relative;
        display: none;

        &--stage-1 {
            display: block;
        }
    }

    &__links {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
    }

    &__link {
        @include clearlist();
        display: block;

        &:after {
            content: "";
            height: 1px;
            width: 60px;
            background: $white;
            margin: 48px auto;
            display: block;
        }

        &:last-child {
            &:after {
                content: none;
            }
        }

        a {
            text-decoration: none;
        }
    }

    &__link-icon {
        width: 40px;
        height: 40px;
        margin: 0 auto 10px;
        display: block;
    }

    &__file-icon{
        width:136px;
        margin:50px auto;
    }
    /*&__success {
        display: none;
        text-align: center;

        img {
            width: 216px;
            margin: 80px auto;
            display: block;
        }
    }
    &--image-selected {
        .upload__links {
            display: none;

            &--retry {
                display: block;
            }
        }

        .upload__button {
            display: block;
        }

        .upload__background {
            display: none;
        }
    }

    &--image-uploading {
        padding-top: 100px;
        background: url(../images/loader.svg) no-repeat center top;
        background-size: 80px 80px;

        > * {
            display: none;
        }
    }

    &--image-uploaded {
        > * {
            display: none;
        }

        .upload__success {
            display: block;
        }
    }*/
}

.popup {
    background: $primary;
    background: linear-gradient(to bottom, #f850ff 0%,#9728ae 50%,#36005d 100%);
    @include fill();
    position: fixed;
    z-index: 5;
    @include vertical();
    overflow: auto;

    &__content {
        width: 90%;
        padding: 34px 0;
        position: relative;
        z-index: 1;

        .title {
            font-size: $base + 12;
            display: block;
            font-weight: bold;
            margin-bottom: 26px;
            text-align: center;
        }

        p {
            font-size: $base + 2;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        z-index: 1;
        
        img{
            max-width:200%;
        }
    }
}