.faqs {
    &__item {
        position: relative;
        padding: 18px 0;
        @include clearlist();
        display: block;
        border-top: 1px solid rgba($white,0.2);
        margin:0;
        text-align:left;
    }

    &__link {
        z-index: 4;
        @include fill();
        text-decoration: none;
    }

    &__edit {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -7px;
        display: inline-block;
        width: 8px;
        height: 15px;
        opacity: 0.8;
        transform: rotateZ(180deg);

        .a {
            fill: $white;
        }
    }

    &__title {
        display: block;
        font-weight: bold;
    }
}
